In [1]:
import pandas as pd
import numpy as np
import time

In [7]:
u = [i for i in range(1000)]
table_1 = pd.DataFrame(np.array([[0 for i in range(1000)] for j in range(1000)]), columns=u, index=u)

In [8]:
u = [i for i in range(1000)]
table_2 = pd.DataFrame(np.array([[0 for i in range(1000)] for j in range(1000)]), columns=u, index=u)

In [9]:
print(time.ctime())
for i in range(1000):
    for j in range(1000):
        table_1[j][i] = 1
        if i == j:
            table_1[j][i] = 2
            break
print(time.ctime())

Sat Nov 14 20:52:18 2020
Sat Nov 14 20:53:01 2020

In [10]:
print(time.ctime())
for i in range(1000):
    for j in range(1000):
        table_2[j][i] = 1
print(time.ctime())

Sat Nov 14 20:53:01 2020
Sat Nov 14 20:54:51 2020

In [11]:
table_1

,0,1,2,3,4,5,6,7,8,9,...,990,991,992,993,994,995,996,997,998,999
0,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,2,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,1,2,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,1,1,2,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1,1,1,1,2,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,2,0,0,0,0
996,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,2,0,0,0
997,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,2,0,0
998,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,2,0
999,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,2

In [12]:
table_2

,0,1,2,3,4,5,6,7,8,9,...,990,991,992,993,994,995,996,997,998,999
0,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
1,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
2,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
3,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
4,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
996,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
997,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
998,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
999,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1